body{
    font-family: $font-family;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-family;
    font-weight: 600;
    color: $heading-color;
}
p{
    font-size: 16px;
    color: $text-color;
}
.styled-radio{
    label{
        &::after{
            background-color: $primary-color;
        }
    } 
}
.styled-checkbox{
    label{
        &::after{
            color: $primary-color;
        }
    }
}
.title-with-bar{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        height: 3px;
        width: 70px;
        margin-left: -90px;
        top: 50%;
        background-color:$primary-color;
    }
    &::after{
        position: absolute;
        content: '';
        height: 3px;
        width: 70px;
        margin-left: 20px;
        top: 50%;
        background-color:$primary-color
    }
}
.site-breadcrumbs{
    ul{
        li{
            display: inline-block;
            a{
                color: $white;
                &::after{
                    content: '/';
                    display: inline-block;
                    padding: 0 8px;
                }

            }
            &:last-of-type{
                a{
                    color: $primary-color;
                    &::after{
                        content: '';
                    }
                }
            }
        }
    }
}
.ck-editor__editable_inline {
    min-height: 250px;
}