header{
    &#main-header{
        .top-bar{
            background-color: $black;
            padding: 10px 0;
            color: $white;
            .list-inline{
                @media(max-width:767px){
                    display: none;
                }
                li{
                    display: inline-block;
                    i{
                        padding: 0 6px;
                    }
                }
            }
            .sub-top-menu{
                @media(max-width:767px){
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                    flex-direction: row-reverse;
                }
                .header-top-right{
                    a{
                        color: $white;
                    }
                }
                .roof-social{
                    margin-left: 6px;
                    a{
                        color:$white;
                        margin: 0 6px;
                    }
                }
            }            
        }
        .navbar{
            color: $heading-color;
            .navbar-holder{
                width: 90%;
                margin: 0 auto;
                ul{
                    &.nav-menu{
                        li{
                            &.nav-item{
                                display: inline-block;
                                a{
                                    width: 100%;
                                    padding-top: .25rem;
                                    padding-bottom: .25rem;
                                    margin-right: 2rem;
                                    font-size: 1rem;  
                                }
                            }
                        }
                        @media(max-width:767px){
                            display: none;
                        }                                  
                    }
                    &.account-menu{
                        .btn{
                            background-color: $primary-color;
                            color: $white;
                            border-radius: 6px;
                            padding: 10px 6px;                            
                        }
                    }                     
                   
                }
                .moible-menu-drawer{
                    display: none;
                    @media(max-width:767px){
                        display:block;
                    }
                }
            }
        }        
        
    }
}
.mobile-menu-sidebar{
    &.off-sidebar{
        .off-sidebar-container{
            width:80%;
            .off-sidebar-content{
                height: 100vh !important;
                ul{
                    &.nav-menu{
                        li{
                            &.nav-item{
                                display:block;
                                text-align: center;
                                a{
                                    width: 100%;
                                    padding-top: .25rem;
                                    padding-bottom: .25rem;
                                    margin-right: 2rem;
                                    font-size: 1rem;  
                                }
                            }
                        }                                                   
                    }
                    &.account-menu{
                        margin-top:20px;
                        .btn{
                            background-color: $primary-color;
                            
                            border-radius: 6px;
                            padding: 10px 6px;     
                            a{
                                color: $white;
                            }                       
                        }
                    }                     
                   
                }
            }
            
        }        
    }
    
}