.hero-section{
    padding: 0;
    height: 60vh;
    background-image:url('../img/banner/hero.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .background-overlay{
        height: 100%;
        width: 100%;
        background: rgba(54,59,77,.88);
        position: relative;
        .here-content{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .hero-title{
                color: $white;
                span{
                    color: $primary-color;
                }
            }
            p{
                padding-top: 1rem;
                color: $white;
            }
        }
    }
}

.search-section{
    padding: 0;
    position: relative;
    .container{
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 99;
        top: -4rem;
        padding: 1.5rem 4rem;
        background-color: #fff;
        box-shadow: 0rem 0.0625rem 0.0625rem 0rem rgba(0, 0, 0, 0.1);
        .ss-col{
            padding-left: 0;
            padding-right: 0;
            .form-group{
                margin-top: 1rem;
                border: 1px solid;
                
                span.input-group-addon {
                    padding: 1.25rem 1.07rem;
                }
                input,select{
                    border:none;
                    padding: 18px 0;
                    font-size: 1rem;
                    color:$text-color ;
                }
                ::placeholder{
                    font-size: 1rem;
                }
                &.select-group{
                    border-left: none;
                    border-right:none;
                    select{
                        position: relative;
                        top: 6px;
                        padding: 0;
                        option{
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }
            }
            button{
                background-color: $primary-color;
                border: $primary-color;
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 100%;
                position: relative;
                left: -1px;
                padding: 1.357rem 2.5rem;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: 1.25rem;
            }
            &:first-of-type{
                .form-group{
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            
        }
    }
}
.featured-section{
    .product-box-layout{
        display: flex;
        background-color: #ffffff;
        box-shadow: 0 0 0.0625rem 0rem rgba(0, 0, 0, 0.1);
        margin-bottom: 1.875rem;
        transition: all 0.3s ease-in-out;
        border-radius: 0.125rem;
        .item-img {
            flex: 1 0 auto;
            width: 15rem;
            a {
                display: block;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .item-content {
            padding: 1.25rem;
            .item-title {
                font-size: 1.125rem;
                font-weight: 700;
                margin-bottom: 0.875rem;
                a{
                    color: $heading-color;
                }
            }
            .entry-meta {
                margin-bottom: 0.825rem;
                li {
                    display: inline-block;
                    font-size: 1rem;
                    color: $text-color;
                    margin-right: 0.625rem;
                    a{
                        color: $text-color
                    }
                }
            }
            p {
                margin-bottom: 0.3125rem;
                font-size: 1.125rem;
            }
            .item-price {
                font-size: 1.25rem;
                font-weight: 600;
                color: $primary-color;
            }
        }

        &:hover{
            box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2);
        }
    }
    .widget-store {
        background-color: #ffffff;
        padding: 1.875rem;
        .store-list{
            display: flex;
            margin-bottom: 1.25rem;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 0.0625rem 0rem rgba(0, 0, 0, 0.1);
            .store-logo {
                margin-right: 1.25rem;
                background-color: #f5f7fa;
                display: flex;
                align-items: center;
                img {
                    vertical-align: middle;
                    border-style: none;
                }
            }
            .store-content {
                line-height: 1.8;
                .item-title {
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 0;
                    a{
                        color: $heading-color;
                    }
                }
                .store-establish {
                    font-size: 0.875rem;
                    color: $text-color;
                }
                .item-count {
                    font-size: 0.875rem;
                    color: $text-color;
                }
            }
            &:hover{
                box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2);
            }
        }
    }
    .sidebar-widget-area {
        .widget-bottom-margin{
            margin-bottom: 1.875rem;
        }
        .widget-banner a {
            display: block;
            img {
                border-radius: 0.25rem;
                max-width: 100%;
                height: auto;
            }
        }
        
    }
}
.category-section{
    background: $white;
    .row{
        .category-carousel{
            .owl-stage{
                padding-top: 20px;
            }
            .category-item{
                padding: 30px 5px 40px 60px;
                background: #fff;
                margin-bottom: 30px;
                box-shadow: 0 0 10px rgba(175,175,175,.5);
                position: relative;
                margin-left: 15px;
                transition: all .3s ease-in-out 0s;
                margin-right: 8px;
                .icon{
                    position: absolute;
                    top: 35%;
                    left: -10px;
                    i{
                        width: 50px;
                        height: 50px;
                        background: #fff;
                        text-align: center;
                        display: inline-block;
                        line-height: 50px;
                        font-size: 24px;
                        border-radius: 4px;
                        color: $primary-color;
                        box-shadow: 0 0 10px rgba(175,175,175,.5);
                        transition: all .3s ease-in-out 0s;
                    }
                }
                .services-content{
                    h3 {
                        margin-bottom: 5px;
                        line-height: 35px;
                        font-weight: 500;
                        a{
                            font-size: 1.25rem;
                            color: $primary-color;
    
                        }
                    } 
                    p{
                        font-weight: 400;
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
            .owl-nav{
                position: absolute;
                width: 100%;
                top: 25%;
                button{
                    transition:all ease-in-out 0.3s;
                    background-color:$primary-color;
                    height: 50px;
                    width: 50px;
                    &:hover{
                        background-color:$primary-color;
                        opacity:1 ;
                        height: 50px;
                        width: 50px;
                    }
                }
                .owl-prev{
                    position: absolute;
                    left: -65px;
                    span{
                        color: transparent;
                        &::before{
                            color: $white;
                            content: "\f111";
                            display: block;
                            font-family: 'lineAwesome';
                            font-size: 32px;
                        }
                    }
                }
                .owl-next{
                    position: absolute;
                    right: -65px;
                    span{
                        color: transparent;
                        &::before{
                            content: "\f112";
                            display: block;
                            font-family: 'lineAwesome';
                            font-size: 32px;
                            color: $white;
                        }
                    }
                }
            }
        }
        
    }
}
.info-section{
    background:$primary-color url('../img/banner/hero.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    .process-box-layout1{
        .item-title{
            font-size: 3.5rem;
            line-height: 4.25rem;
            color: $white;
        }
        .item-content{
            ul{
                li{
                    line-height: 2.5rem;
                    font-size: 1.25rem;
                    color: $white;                    
                }
            }
        }
        .item-btn{
            margin-top: 2rem;
            .btn{
                background: $white;
                color: $heading-color;
                border-radius: 4px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                transition: all ease-in-out 0.3s;
                i{
                    color: $heading-color;
                    transition: all ease-in-out 0.3s;
                }
                &:hover{
                    background-color: $black;
                    color: $white;
                    i{
                        color: $white;
                    }
                }
            }
        }
    }
}
.work-section{
    padding: 80px 0;
    .row{
        padding-top: 6rem;
        position: relative;
        hr{
            border-top: 1px dotted #bbb;
            width: 76%;
            position: absolute;
            top: 8.5rem;
            left: 0;
            right: 0;
        }
        .item-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px dotted #bbb;
            width: 100px;
            height: 100px;
            margin: 0 auto 2rem;
            border-radius: 50%;
            background: #f2f3f8;
            i{
                font-size: 2.5rem;
                color: $primary-color;
            }
        }
        .item-content{
            .item-title{
                color: $heading-color;
            }
        }
    }    
}
.counter-section{
    background: $white;
    .counter-box-layout1{
        margin-bottom: 3.125rem;
        .item-icon {
            margin-right: 1.625rem;
            line-height: 1;
            text-align: center;
            i{
                font-size: 3rem;
                margin-bottom: 1rem;
                color: $primary-color;
            }
        }
        .item-content{
            .counter-number{
                margin-bottom: 0.625rem;
                line-height: 1;
                span.counter {
                    font-weight: 500;
                    font-size: 2.875rem;
                    font-weight: 600;
                    color: $heading-color;
                }
                span {
                    font-size: 2.875rem;
                    font-weight: 700;
                    color: $heading-color;
                }
            }
            .item-title{
                text-align: center;
            }
        }
    }
}

.most-viewed-section{
    .product-box-layout1{
        background-color: #ffffff;
        margin-bottom: 1.875rem;
        transition: all 0.3s ease-in-out;
        .item-img {
            a {
                display: block;
                position: relative;
                overflow: hidden;
                img{
                    transition: all .5s ease-in-out;
                    transform: scale(1);
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .item-content{
            padding: 1.5625rem 1.25rem;
            .item-title {
                font-size: 1.125rem;
                font-weight: 700;
                margin-bottom: 0.625rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                a {
                    color: $heading-color;
                    transition: all 0.3s ease-in-out;
                }
            }
            .entry-meta {
                margin-bottom: 0.4375rem;
                li {
                    color: $text-color;
                    font-size: 0.875rem;
                    line-height: 2;
                }
            }
            .item-price {
                font-size: 1.25rem;
                font-weight: 600;
                color: $primary-color;
            }
        }
        &:hover{
            box-shadow: 0rem 0.1875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2);
            .item-img{
                a{
                    img{
                        transform: scale(1.08);
                    }
                } 
            }  
        }
    }
}