@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$primary-color:#d41d53;
$black:#1a1a1a;
$white:#ffffff;
$heading-color:#444;
$text-color:#777;
$font-family: 'Poppins', sans-serif;
$style-font:'Dancing Script', cursive;